@import 'colors';

.card__h5 {
    font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    font-weight: 600;
    letter-spacing: -0.025em;


}

.card__container {
    width: 100%;
    background-color: $white;
    border-radius: 0.5rem;
    max-width: 24rem; 

}