@import 'colors';


@mixin nav {
@extend .bg-white;
@extend .border-gray-200;
@extend .dark, :bg-gray-900;
}

.bg-white {
background-color: #fff;
}

.border-gray-200 {
 --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.dark, :bg-gray-900 { 
   --tw-bg-opacity: 1;
        background-color: rgb(17 24 39 / var(--tw-bg-opacity));
    }

.nav__bar {
@include nav;
}    


@mixin navlink {
    @extend .block;
    @extend .py-2;
    @extend .pl-3;
    @extend .pr-4;
    @extend .text-gray-900;
    @extend .hover, :text-gray-900;
    @extend .rounded; 
    @extend .hover, :bg-gray-100;


}


.block {
    display: block;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.pl-3 {
    padding-left: 0.75rem;
}

.pr-4 {
    padding-right: 1rem;
}

.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}

.hover, :text-gray-900:hover {
    --tw-text-opacity: 1;
    color: rgb(17 24 39 / var(--tw-text-opacity));
}

.rounded {
    border-radius: 0.25rem;
}

.hover, :bg-gray-100:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.nav__link {
    @include navlink;
}

@mixin but {
    @extend .inline-flex;
    @extend .items-center;
    @extend .p-2;
    @extend .w-10;
    @extend .h-10;
    @extend .justify-center;
    @extend .text-sm;
    @extend .text-gray-500;
    @extend .rounded-lg;
}

.inline-flex {
    display: inline-flex;
}

.items-center {
    align-items: center;
}

.p-2 {
    padding: 0.5rem;
}

.w-10 {
    width: 2.5rem;
}

.h-10 {
    height: 2.5rem;
}

.justify-center {
    justify-content: center;
}

.text-sm {
    font-size: 0.875rem;
}

.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}

.rounded-lg {
    border-radius: 0.5rem;
}

.button__nav {
    @include but;
}

@mixin list {
    @extend .items-center;
    @extend .justify-between;
    @extend .hidden;
    @extend .w-full;
    
}

.items-center {
    align-items: center;
}

.justify-between {
    justify-content: space-between;
}

.hidden {
    display: none;
}

.w-full {
    width: 100%;
}

.list__nav {
    @include list;
}

//Footer

@mixin footer {
@extend .bg-white;
  @extend .rounded-lg;
  @extend .shadow;

  @extend .m-4;
   

}

.bg-white {
    background-color: #fff;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}


.m-4 {
    margin: 1rem;
}

.footer__principal {
    @include footer;
}

@mixin container__footer {
  @extend .w-full;
  @extend .max-w-screen-xl;
  @extend .mx-auto;
  @extend .p-4;
  @extend .md\:py-8;
}

.w-full {
    width: 100%;
}

.max-w-screen-xl {
    max-width: 1280px;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.p-4 {
    padding: 1rem;
}

.md\:py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.container__footer {
    @include container__footer;
}

@mixin text-2xl {
  font-size: 1.5rem;
}

@mixin font-semibold {
  font-weight: 600;
}

@mixin whitespace-nowrap {
  white-space: nowrap;
}

@mixin dark-text-white {
  color: white;
}

@mixin brand-text {
  @extend .self-center;
  @extend .text-2xl;
  @extend .font-semibold;
  @extend .whitespace-nowrap;
  
}

.self-center {
    align-self: center;
}

.text-2xl {
    font-size: 1.5rem;
}

.font-semibold {
    font-weight: 600;
}

.whitespace-nowrap {
    white-space: nowrap;
}


.brand__text {
    @include brand-text;
}

@mixin navfooter {
    @extend .flex;
    @extend .flex-wrap;
    @extend .items-center;
    

}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.items-center {
    align-items: center;
}

.nav__footer {
    @include navfooter;
}




