@use '__nav';
@use '__hero';
@use '__infolettres';
@use '__card';


/**  GENERAL **/

*{
padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

